/* responsive design start here */

/* responsive for mobile devices start here  */

@media screen and (max-width:768px){
 

  .nav-menu{
    display: none;
  }

  .bar{
    display: block;
  }

  .header-content h1{
    font-size:40px;
  }

  .header-input-btn{
    width:100%;
  }

  #select,.fa-btn,input{
    width:100%;
    margin:5px auto;
  }


}





    
