@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* this style for body  */
body{
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* this style for all sections  */
section{
    width:90%;
    margin:100px auto;
}

/* nav style start here  */
.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin:0px auto;
    padding:30px 10px;
   
}

/* nav logo styel here  */

.logo{
    display: flex;
    align-items: center;
    gap:10px;
    cursor:pointer;
}

.logo h3{
    font-size:35px;
    font-weight: 800;
}
/* nav logo > span style here  */

.logo span{

    color:#ff5400;
}

/* nav-menu ul style here  */

.nav-menu ul{
    display:flex;
    gap:20px;
}

.nav-menu ul li{
    list-style: none;
    font-size:18px;
    font-weight:400;
}

.nav-menu ul li a{
    text-decoration: none;
    color:black;
}

.bar{
    display:none;
}
/* ===========================
=========================== */


/* header content style start here  */


.header-content{
    width:90%;
    margin:0px auto;
    padding:50px 10px;
    background:linear-gradient(45deg,rgba(27, 7, 31, 0.397),rgba(30, 7, 49, 0.432)),url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    text-align: center;
}

.header-content h1{
    font-size:60px;
    color:rgb(255, 255, 255);
    font-weight: 800;
    padding:20px;
}

.header-content p{
    padding:20px;
    color:white;
    font-size:16px;
    font-weight: 400;
}

.header-input-btn{
   
   
    padding:30px;
    width:60%;
    margin:20px auto;
    background: rgba(255, 255, 255, 0.30);
    border-radius: 10px;;
}

input{
    width:150px;
    padding:10px;
    border:none;
    outline:none;
    font-size:16px;
    font-weight: 400;
    color:white;
    border-radius: 5px;
}

.fa-btn{
    width:150px;
    padding:10px;
    border:none;
    outline:none;
    font-size:16px;
    font-weight: 400;
    color:white;
    border-radius: 5px;
    background:#ff5400;
    font-size:14px;
    font-weight: 400;
}

#select{
    padding:10px;
    background:white;
    border-radius: 5px;
    width:150px;
}
